.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
build/
.DS_Store
*.parquet
.env
.env.*
__pypackages__/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/
